# Python virtual environment
.venv/
venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.pyc

# Frontend dependencies
node_modules/

# Next.js build files
.next/
out/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
*.log

# IDE files
.vscode/
.idea/